.holder {
    width: 4rem;
    height: 4rem;
    border-radius: 25%;
    padding: .5rem;
    position: fixed;
    bottom: 2rem;
    left: 2rem;
    background-color: #1976d2;
    transition: all 1s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.holder>svg {
    cursor: pointer;
    fill: #fff !important;
    width: 100%;
    height: auto;
    transition: all 1s cubic-bezier(0.165, 0.84, 0.44, 1);
    transform: skew(30deg, 0deg);
}

.holder>svg:hover {
    transform: skew(0deg, 0deg);
}

.holder:hover {
    filter: brightness(125%);
}