.todoItem {
    height: 70px;
    border-radius: .6rem;
    padding: .5rem;
    display: flex;
    /* box-shadow: .4rem .4rem 1rem #cacaca, -.4rem -.4rem 1rem #cacaca; */
    align-items: center;
    /* border-bottom: 3px solid #f5f5f5; */
    border-bottom: 3px solid #f0f0f0;
}

.todoText {
    width: 100%;
}

.updateInput {
    width: 100% !important;
    /* min-width: 300px !important; */
    max-width: 500px !important;
}

.todoOption {
    height: 100%;
    padding: 0.5rem;
}

.todoOption>svg {
    cursor: pointer;
    fill: #1976d2 !important;
    width: auto;
    height: 100%;
    transition: all 1s cubic-bezier(0.165, 0.84, 0.44, 1)
}

.todoOption>svg:hover {
    filter: brightness(125%);
}